@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

#mapid {
  height: 50em;
  width: 100%;
}

hr {
  margin-bottom: 2.5em
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #DDD;
}

body {
  background-color: #222;
}
